# Compiled source
*.class
*.dll
*.o
*.so

# Packages 
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.swp

# Executables
*.exe
*.out


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Express Files
/node_modules/*

#ide files
*.idea
