doctype html
html
  head
    title PPA - About
    // Materialize CSS imports [head]
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav();
      });
  //Background pattern from Subtle Patterns//
  body(background='/views/bg3.png')
    include navi.pug
    br
    body
      center
        .row.valign-wrapper
          .col.s6.offset-s3.valign
            center
              .card.black
                .card.indigo.accent-4
                  .card-content.white-text
                    font(color='black')
                      h3 Welcome to the Personal Performance Application! 
                      br
                      | This application was a result of the Computer Science (CS) 4560 / 4561 course. 
                      br
                      br
                      | This project is open source and available on github at:
                      br
                      | https://github.com/RobertoWhitmerto/OhioUniversityWXCPerformanceProgram
                      br
                      br
                      | With this application, athletes should be able to track their physiological data as they workout. 
                      br
                      | Trainers and coaches of those athletes can monitor progress, while administrators 
                      br
                      | control data dumps and adding/removing users from the system.
                      br
                      br
                      br
                      | Here is a brief listing of some functionality that is included within this web application: 
                      br
                      br
                      font(color='green') Athletes:
                      br
                      | - Add workouts into the system
                      br
                      | - Edit their previous workouts incase of error or manual removal
                      br
                      | - View past workouts  
                      br
                      br
                      font(color='blue') Trainers:
                      br
                      | - View their teams physiological statistics 
                      br
                      br
                      font(color='red') Administrators:
                      br
                      | - Add a user into the system 
                      br
                      | - Remove a user from the system
                      br
                      | - View athletes and workouts
                      br
                      | - Get data export of individuals or entire teams
                      br
                      | - Add/remove teams and associate users with teams
                      br
                      | Disclaimer: Analytical data will be collected which tracks site usage statistics.
                      br
                      br
                      | Need further help? Please contact Michael Clevidence at cleviden@ohio.edu 
                      br
                      br
                      br
                      br
                      br
                      footer
                        h6
                          center
                            font(color='grey')
                              | Team on a Cob 2016, 
                              br
                              | |Robert Whitmer|Andrew Leach|Peter Essman|Brent Gruber|Lucas Nation|
                          
      //Change all of our primary colors that are THIS color to our new custom color//
      style.
        .card.indigo.accent-4 {
        background-color: #b1f6cb !important;
        }

      //Change all of our secondary colors that are THIS color to our new custom color//
      style.
        .card.light-blue.darken-4 {
        background-color: #2f4f4f !important;
        }
    // Materialize CSS imports [body]
    // put this at the end of the body
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='js/materialize.min.js')

