doctype html
html
  head
    title PPA - Add a User
    // Materialize CSS imports [head]
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav();
      });
  //Background pattern from Subtle Patterns//
  body(background='/views/bg3.png')
    include navi.pug
    br
    br
    br
    br
    br
    article
      .row
        .col.s12.m5.offset-m3
          .card.indigo.accent-4
            .card-content.white-text
              span.card-title
                center
                  p.fonts
                    b Create a New User:
                    br
                    if(message)
                      b #{message}
            .row
              .col.s12.m12
                .card.light-blue.darken-4
                  .card-content.black-text
                    form(action='/admin_add_user_form', method='post')
                      label
                        font(color='black') New username:
                        font(color='red') *
                      input(type='text', name='newusername', required='')
                      br
                      br
                      label
                        font(color='black') New user's password:
                        font(color='black')
                      br
                      label
                        b This is the unchangeable, default password for all users.
                      input(type='text', name='newuserpw', value='password', readonly='')
                      br
                      br
                      label
                        font(color='black') New user's email:
                      input(type='text', name='newuseremail')
                      br
                      br
                      label
                        font(color='black') New user's first name:
                        font(color='red') *
                      input(type='text', name='newuserfirst', required='')
                      br
                      br
                      label
                        font(color='black') New user's last name:
                        font(color='red') *
                      input(type='text', name='newuserlast', required='')
                      br
                      br
                      br
                      br
                      | Note: Fields with 
                      font(color='red')  * 
                      |  are a required field.
                      font(color='black')
                        h5 Role Level:
                      .row
                        .col.s12.m12
                          .card.indigo.accent-4
                            .card-content.black-text
                              input#opt1.with-gap(name='userrole', type='radio', checked='', value='3')
                              label(name='userrole', for='opt1')
                                a.btn.green.tooltipped(data-position='right', data-delay='50', data-tooltip='- Enter workouts, view past workouts')
                                  p.fonts Athlete
                              br
                              br
                              br
                              input#opt2.with-gap(name='userrole', type='radio', value='2')
                              label(name='userrole', for='opt2')
                                a.btn.blue.tooltipped(data-position='right', data-delay='50', data-tooltip='- View team status')
                                  p.fonts Coach
                              br
                              br
                              br
                              input#opt3.with-gap(name='userrole', type='radio', value='1')
                              label(name='userrole', for='opt3')
                                a.btn.red.tooltipped(data-position='right', data-delay='50', data-tooltip='- CSV data dumps, add/remove users to/from the system')
                                  p.fonts Admin
                              br
                              br
                          br
                        center
                          button.btn.waves-effect.waves-light.green(type='submit', name='action')
                            | Create User
                            i.material-icons.right send

      //All labels should be visible//
      style.
        label {
        color: #000;
        }

      //Change all of our primary colors that are THIS color to our new custom color//
      style.
        .card.indigo.accent-4 {
        background-color: #2f4f4f !important;
        }

      //Change all of our secondary colors that are THIS color to our new custom color//
      style.
        .card.light-blue.darken-4 {
        background-color: #b1f6cb !important;
        }



      // Materialize CSS imports [body]
      // put this at the end of the body
      // Import jQuery before materialize.js
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(type='text/javascript', src='js/materialize.min.js')

