doctype html
html
  head
    title PPA - Team Data Dump
    // Materialize CSS imports [head]
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav();
      });
  //Background pattern from Subtle Patterns//
  body(background='/views/bg3.png')
    include navi.pug
    br
    br
    br
    br
    br
    font(color='cyan')
      .container
        .row
          .col.s12.m12
            .card.light-blue.darken-4
              .card-content.white-text
                span.card-title
                  center Team Data Dump:
                form(action='/getdatadumpteam', method='post')
                    | Team Name:
                    input(type='text', name='datadumpteam')
                    br
                    br
                    button.btn.waves-effect.light-green(type='submit', name='action')
                      | Download CSV File
                      i.material-icons.right input
    // Materialize CSS imports [body]
    // put this at the end of the body
    // Import jQuery before materialize.js
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript', src='js/materialize.min.js')
