doctype html
html
  head
    title PPA - Change Password
    // Materialize CSS imports [head]
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav();
      });
  //Background pattern from Subtle Patterns//
  body(background='/views/bg3.png')
    include navi.pug
    br
    br
    br
    br
    br
    body
      .row
        .col.s12.m5.offset-m3
          .card.indigo.accent-4
            .card-content.white-text
              span.card-title
                center
                  p.fonts
                    b Change Password
            form(action='/changepass', method='post')
              .row
                .col.s12.m12
                  .card.light-blue.darken-4
                    .card-content.black-text
                      span.card-title
                        label
                          font(color='black') Current Password:
                        input#oldpass(type='password', name='oldpass', required='', onkeyup='validate()')
                        br
                        label
                          font(color='black') New Password:
                        input#pass(type='password', name='pass', required='', onkeyup='validate()')
                        br
                        label
                          font(color='black') Confirm New Password:
                        input#cpass(type='password', name='cpass', required='', onkeyup='validate()')
                        br
                        center
                          font(color='red')
                            span#verifier
                        script.
                          function validate(){
                          //Requires Old to Be Labeled Current//
                          //var current = document.getElementById("current").value;
                          //if(current != oldpass){
                          //document.getElementById("verifier").innerHTML ="Not correct current!";
                          //document.getElementById("checked").disabled=true;
                          //return
                          //}
                          if(document.getElementById("pass").value.length <= 5 || document.getElementById("cpass").value.length <= 5){
                          document.getElementById("verifier").innerHTML ="Make it above 5 characters please :)";
                          document.getElementById("checked").disabled=true;
                          return;
                          }
                          else{
                          if(document.getElementById("pass").value == document.getElementById("cpass").value){
                          document.getElementById("verifier").innerHTML = "Match!";
                          document.getElementById("checked").disabled=false;
                          return;
                          }
                          else{
                          document.getElementById("verifier").innerHTML = "The two fields do not match! :(";
                          document.getElementById("checked").disabled=true;
                          return;
                          }
                          }
                          }
              center
                button#checked.btn.waves-effect.waves-light.light-blue.lighten-1(type='submit', name='action')
                  | Submit
                  i.material-icons.right send
              br
      script.
        document.getElementById("checked").disabled = true;

      //Change all of our primary colors that are THIS color to our new custom color//
      style.
        .card.indigo.accent-4 {
        background-color: #2f4f4f !important;
        }

      //Change all of our secondary colors that are THIS color to our new custom color//
      style.
        .card.light-blue.darken-4 {
        background-color: #b1f6cb !important;
        }
      // Materialize CSS imports [body]
      // put this at the end of the body
      // Import jQuery before materialize.js
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(type='text/javascript', src='js/materialize.min.js')

