doctype html
html
  head
    title PPA - Sign in
    // Materialize CSS imports [head]
    // Import Google Icon Font
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(background='/views/bg.jpg')
    br
    br
    br
    .container
      .row
        .col.s12.m6.offset-m3
          .card.blue.accent-4
            .card-content.white-text
              .container
                .row
                  .col.s12.m12
                    .card.blue.accent-2
                      .card-content.white-text
                        span.card-title
                          center
                            b
                              p.fonts Personal Performance Application
                center
                  .row
                    .col.s12.m12
                      .card.blue.accent-2
                        .card-content.white-text
                          span.card-title Log in:
                          form(action='/', method='post')
                            i.material-icons.prefix account_circle
                            input(type='text', placeholder='Username', name='username', required='')
                            br
                            br
                            i.material-icons.prefix vpn_key
                            input(type='password', placeholder='Password', name='password', required='')
                            br
                            br
                            button.btn.waves-effect.waves-orange.blue.accent-4(type='submit', name='action')
                              | Log in
                              i.material-icons.right send
                  .card-action
                    center
                      a.waves-effect.waves-light.btn.modal-trigger(href='#modal')
                        | Forgot Password
                        i.material-icons.right help
                      b
                        h6
                          font(color='white') Team on a Cob 2017
                      
    script.
      $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that   wants to be triggered
      $(document).on("click", ".modal-trigger", function (e) {
      
          e.preventDefault();
          $('.modal-trigger').leanModal();
          //$(_self.attr('href')).modal('show');
      });
      });
        
#modal1.modal
  .modal-content.light-blue.darken-4
    h4 
      font(color='cyan') Edit Workout
    center
      a.waves-effect.waves-light.btn.light-green(onclick='myFunction()') Load Workout Data
     
        
      // Materialize CSS imports [body]
      // put this at the end of the body
      // Import jQuery before materialize.js
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(type='text/javascript', src='js/materialize.min.js')
