doctype html
html
  head
    title PPA - Workout Entry
    // Materialize CSS imports [head]
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav();
      });
  //Background pattern from Subtle Patterns//
  body(background='/views/bg3.png')
    include navi.pug
    br
    br
    br
    br
    br
    body(onload='myFunction()')
      .row
        .col.s12.m5.offset-m3
          .card.indigo.accent-4
            .card-content.white-text
              span.card-title
                center
                  p.fonts
                    b My Workout
            form(action='/workoutentry', method='post')
              .row
                .col.s12.m12
                  .card.light-blue.darken-4
                    .card-content.black-text
                      span.card-title Date Information:
                      center
                        a.waves-effect.waves-light.btn.blue.accent-3(onclick='myFunction()') Autofill - Today
                      br
                      script.
                        function myFunction() {
                        var d = new Date();
                        var n = d.getDate();
                        var m = d.getMonth();
                        document.getElementById("month").selectedIndex = m + 1;
                        document.getElementById("day").selectedIndex = n;
                        var p = new Date();
                        var y = p.getFullYear();
                        document.getElementById("currentyear").selectedIndex = y-2016;
                        }
                      label 
                        font(color='black') Month
                      select#month.browser-default(name='month')
                        option(name='month', value='invalidmonth') --
                        option(name='month', value='January') January
                        option(name='month', value='February') February
                        option(name='month', value='March') March
                        option(name='month', value='April') April
                        option(name='month', value='May') May
                        option(name='month', value='June') June
                        option(name='month', value='July') July
                        option(name='month', value='August') August
                        option(name='month', value='September') September
                        option(name='month', value='October') October
                        option(name='month', value='November') November
                        option(name='month', value='December') December
                      br
                      br
                      label 
                        font(color='black') Day of month
                      select#day.browser-default(name='day')
                        option(name='day', value='dayinvalid') --
                        option(name='day', value='1') 1
                        option(name='day', value='2') 2
                        option(name='day', value='3') 3
                        option(name='day', value='4') 4
                        option(name='day', value='5') 5
                        option(name='day', value='6') 6
                        option(name='day', value='7') 7
                        option(name='day', value='8') 8
                        option(name='day', value='9') 9
                        option(name='day', value='10') 10
                        option(name='day', value='11') 11
                        option(name='day', value='12') 12
                        option(name='day', value='13') 13
                        option(name='day', value='14') 14
                        option(name='day', value='15') 15
                        option(name='day', value='16') 16
                        option(name='day', value='17') 17
                        option(name='day', value='18') 18
                        option(name='day', value='19') 19
                        option(name='day', value='20') 20
                        option(name='day', value='21') 21
                        option(name='day', value='22') 22
                        option(name='day', value='23') 23
                        option(name='day', value='24') 24
                        option(name='day', value='25') 25
                        option(name='day', value='26') 26
                        option(name='day', value='27') 27
                        option(name='day', value='28') 28
                        option(name='day', value='29') 29
                        option(name='day', value='30') 30
                        option(name='day', value='31') 31
                      br
                      br
                      label 
                        font(color='black') Current Year
                      select#currentyear.browser-default(name='currentyear')
                        option(name='currentyear', value='0000') ----
                        option(name='currentyear', value='2017') 2017
                        option(name='currentyear', value='2018') 2018
                        option(name='currentyear', value='2019') 2019
                        option(name='currentyear', value='2020') 2020
                        option(name='currentyear', value='2021') 2021
                        option(name='currentyear', value='2022') 2022
                      br
                      br
                      script.
                        var p = new Date();
                        var y = p.getFullYear();
                        document.getElementById("currentyear").selectedIndex = y-2016;
              // Form Selector
              .col.s12.m12
                .card.light-blue.darken-4
                  .card-content.black-text
                    span.card-title Workout Entry Style:
                    br
                    input#f1.with-gap(name='fstyle', type='radio', onclick='formselection()', checked='')
                    label(name='fstyle', for='f1')
                      font(color='black') First Workout Mode
                    br
                    br
                    input#f2.with-gap(name='fstyle', type='radio', onclick='formselection()')
                    label(name='fstyle', for='f2')
                      font(color='black') Interval Mode
              script.
                function formselection(){
                if(document.getElementById("f1").checked == true){
                document.getElementById("sleephours").disabled = false;
                document.getElementById("sleephours").type="number";
                document.getElementById("sleeplabel").innerHTML="<label>Hours of sleep</label>";
                document.getElementById("illness").disabled = false;
                document.getElementById("illness").style.visibility = "visible";
                document.getElementById("illnesslabel").innerHTML="<label>General Health</label>";
                document.getElementById("injury").disabled = false;
                document.getElementById("injury").style.visibility = "visible";
                document.getElementById("injurylabel").innerHTML="<label>Irritation/Pain</label>";
                document.getElementById("percent_health").disabled = false;
                document.getElementById("percent_health").type = "number";
                document.getElementById("wellnesslabel").innerHTML = "<label>Wellness Score</label><br><label>(100% = Full Health, 0% = Not able to Workout)</label>";
                document.getElementById("hungry").disabled = false;
                document.getElementById("hungry").style.visibility = "visible";
                document.getElementById("hungrylabel").innerHTML ="<label>24-hour Hunger Score</label>";
                document.getElementById("opta").disabled = false;
                document.getElementById("opta").style.display = "block";
                document.getElementById("optb").disabled = false;
                document.getElementById("optb").style.display = "block";
                document.getElementById("cyclelabel").innerHTML ="<label>Start of cycle</label><br>";
                document.getElementById("textarea1").disabled = false;
                document.getElementById("et").style.display = "block";
                document.getElementById("spacer1").innerHTML="<br><br>";
                document.getElementById("spacer2").innerHTML="<br><br>";
                document.getElementById("spacer3").innerHTML="<br><br>";
                document.getElementById("spacer4").innerHTML="<br><br>";
                document.getElementById("spacer5").innerHTML="<br><br>";
                }
                if(document.getElementById("f2").checked == true){
                document.getElementById("sleephours").disabled = true;
                document.getElementById("sleephours").type = "hidden";
                document.getElementById("sleeplabel").innerHTML="";
                document.getElementById("illness").disabled = true;
                document.getElementById("illness").style.visibility = "hidden";
                document.getElementById("illnesslabel").innerHTML="";
                document.getElementById("injury").disabled = true;
                document.getElementById("injury").style.visibility = "hidden";
                document.getElementById("injurylabel").innerHTML="";
                document.getElementById("percent_health").disabled = true;
                document.getElementById("percent_health").type = "hidden";
                document.getElementById("wellnesslabel").innerHTML="";
                document.getElementById("hungry").disabled = true;
                document.getElementById("hungry").style.visibility = "hidden";
                document.getElementById("hungrylabel").innerHTML = "";
                document.getElementById("opta").disabled = true;
                document.getElementById("opta").style.display = "none";
                document.getElementById("optb").disabled = true;
                document.getElementById("optb").style.display = "none";
                document.getElementById("cyclelabel").innerHTML ="";
                document.getElementById("textarea1").disabled = true;
                document.getElementById("et").style.display = "none";
                document.getElementById("spacer1").innerHTML="";
                document.getElementById("spacer2").innerHTML="";
                document.getElementById("spacer3").innerHTML="";
                document.getElementById("spacer4").innerHTML="";
                document.getElementById("spacer5").innerHTML="";
                }
                }
              .row
                .col.s12.m12
                  .card.light-blue.darken-4
                    .card-content.black-text
                      span.card-title Workout Information:
                      br
                      p#sleeplabel
                      input#sleephours(type='number', name='sleephours', min='0', max='14')
                      p#spacer1
                      p#illnesslabel
                      select#illness.browser-default(name='illness')
                        option(name='illness', value='n/a') N/A
                        option(name='illness', value='fever') Fever
                        option(name='illness', value='gi_distress') GI Distress
                        option(name='illness', value='upper respiratory') Upper Respiratory
                        option(name='illness', value='abnormal fatigue') Abnormal Fatigue
                        option(name='illness', value='insomnia') Insomnia
                        option(name='illness', value='irritability') Irritability
                        option(name='illness', value='decreased motivation') Decreased Motivation
                        option(name='illness', value='weight loss') Weight Loss
                        option(name='illness', value='chronic soreness') Chronic Soreness
                      p#spacer2
                      p#injurylabel
                      select#injury.browser-default(name='injury')
                        option(name='injury', value='n/a') N/A
                        option(name='injury', value='foot arch') Foot Arch
                        option(name='injury', value='Heel') Heel
                        option(name='injury', value='shin') Shin
                        option(name='injury', value='knee') Knee
                        option(name='injury', value='it band') IT Band
                        option(name='injury', value='hip') Hip
                        option(name='injury', value='low back') Low Back
                        option(name='injury', value='pelvis') Pelvis
                        option(name='injury', value='rib') Rib
                      p#spacer3
                      p#wellnesslabel
                      input#percent_health(name='percent_health', type='number', min='0', max='100', step='10')
                      p#spacer5
                      label RPE Information
                      select#rpeinfo.browser-default(name='rpeinfo')
                        option(name='rpeinfo', value='unknown') ----
                        option(name='rpeinfo', value='aerobic') Zone 1: Aerobic
                        option(name='rpeinfo', value='threshold') Zone 2: Threshold
                        option(name='rpeinfo', value='interval') Zone 3: Interval
                        option(name='rpeinfo', value='crosstraining') Cross Training
                        option(name='rpeinfo', value='strengthandconditioning') Strength and Conditioning
                      br
                      br
                      label RPE (6-20)
                      select.browser-default(name='rpeval')
                        option(name='rpeval', value='rpeinvalid') --
                        option(name='rpeval', value='6') 6 - Rest
                        option(name='rpeval', value='7') 7 - Extremely Light
                        option(name='rpeval', value='8') 8 -
                        option(name='rpeval', value='9') 9 - Very Light
                        option(name='rpeval', value='10') 10 -
                        option(name='rpeval', value='11') 11 - Light
                        option(name='rpeval', value='12') 12 -
                        option(name='rpeval', value='13') 13 - Somewhat Hard
                        option(name='rpeval', value='14') 14 -
                        option(name='rpeval', value='15') 15 - Hard
                        option(name='rpeval', value='16') 16 -
                        option(name='rpeval', value='17') 17 - Very Hard
                        option(name='rpeval', value='18') 18 -
                        option(name='rpeval', value='19') 19 - Extremely Hard
                        option(name='rpeval', value='20') 20 - Maximal Exertion
                      br
                      br
                      label Time of workout (minutes)
                      input(name='time', type='number', min='0', max='999')
                      br
                      br
                      label Distance (miles)
                      input(name='distance', type='number', min='0.0', max='100.0')
                      br
                      br
                      p#hungrylabel
                      select#hungry.browser-default(name='hungry')
                        option(name='hungry', value='unknown') --
                        option(name='hungry', value='0') 0 - Empty
                        option(name='hungry', value='1') 1 - Ravenous
                        option(name='hungry', value='2') 2 - Very Hungry
                        option(name='hungry', value='3') 3 - Lightly Hungry
                        option(name='hungry', value='4') 4 - Lightly Hungry
                        option(name='hungry', value='5') 5 - Neutral
                        option(name='hungry', value='6') 6 - Lightly Full; Satisfied
                        option(name='hungry', value='7') 7 - Lightly Full; Satisfied
                        option(name='hungry', value='8') 8 - Full
                        option(name='hungry', value='9') 9 - Stuffed
                        option(name='hungry', value='10') 10 - Sick
                      p#spacer4
                      p#cyclelabel
                      input#opt1.with-gap(name='cycle', type='radio', checked='', value='no')
                      label#opta(name='cycle', for='opt1') No
                      input#opt2.with-gap(name='cycle', type='radio', value='yes')
                      label#optb(name='cycle', for='opt2') Yes
              #et
                .row
                  .col.s12.m12
                    .card.light-blue.darken-4
                      .card-content.black-text
                        span.card-title Extra Information:
                        .row
                          .input-field.col.s12
                            textarea#textarea1.materialize-textarea(length='1024', name='mynotes')
                            label(name='notes', for='textarea1') 
                              font(color='black') My Notes
                        br
                        br
              center
                button.btn.waves-effect.waves-light.teal(type='submit', name='action')
                  | Submit My Workout
                  i.material-icons.right send
              br

      //All labels should be visible//
      style.
        label {
        color: #000;
        }

      //Change all of our primary colors that are THIS color to our new custom color//
      style.
        .card.indigo.accent-4 {
        background-color: #2f4f4f !important;
        }

      //Change all of our secondary colors that are THIS color to our new custom color//
      style.
        .card.light-blue.darken-4 {
        background-color: #b1f6cb !important;
        }
      // Initialize the Labels
      script.
        document.getElementById("sleeplabel").innerHTML="<label>Hours of sleep</label>";
        document.getElementById("illnesslabel").innerHTML="<label>General Health</label>";
        document.getElementById("injurylabel").innerHTML="<label>Irritation/Pain</label>";
        document.getElementById("wellnesslabel").innerHTML = "<label>Wellness Score</label><br><label>(100% = Full Health, 0% = Not able to Workout)</label>";
        document.getElementById("hungrylabel").innerHTML ="<label>24-hour Hunger Score</label>";
        document.getElementById("cyclelabel").innerHTML ="<label>Start of cycle</label><br>";
        document.getElementById("spacer1").innerHTML="<br><br>";
        document.getElementById("spacer2").innerHTML="<br><br>";
        document.getElementById("spacer3").innerHTML="<br><br>";
        document.getElementById("spacer4").innerHTML="<br><br>";
        document.getElementById("spacer5").innerHTML="<br><br>";
      // Materialize CSS imports [body]
      // put this at the end of the body
      // Import jQuery before materialize.js
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(type='text/javascript', src='js/materialize.min.js')

