doctype html
html
  head
    title PPA - Workout Entry
    // Materialize CSS imports [head]
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
      $(".dropdown-button").dropdown();
      $(".button-collapse").sideNav();
      });
  body(background='/views/bg3.jpg')
    // Navbar up at the top
    nav
      .nav-wrapper.light-blue.darken-4
        a.brand-logo
          font(color='cyan') PPA
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li
            a.dropdown-button.green.lighten-1(href='#', data-activates='Athletes')
              | Athletes
              i.material-icons.right arrow_drop_down
          li
            a.dropdown-button.blue.lighten-1(href='#', data-activates='CoachesTrainers')
              | Coaches/Trainers
              i.material-icons.right arrow_drop_down
          li
            a.dropdown-button.red.lighten-1(href='#', data-activates='Administrators')
              | Administrators
              i.material-icons.right arrow_drop_down
          li
            a.dropdown-button.red.accent-4(href='#', data-activates='Helpbar')
              | Need Help?
              i.material-icons.right arrow_drop_down
          li
            a.waves-effect.waves-light.btn-large.orange(href='/logout') Log-out
      // Drop down associations Non-Mobile
      ul#Athletes.dropdown-content
        li
          a(href='/workoutentry') New Workout
        li.divider
        li
          a(href='/myworkouts') Training Log
      ul#CoachesTrainers.dropdown-content
        li
          a(href='/coaches') View Athletes
      ul#Administrators.dropdown-content
        li
          a(href='/datadumpindividual') CSV Data Dump (Individual)
        li.divider
        li
          a(href='/datadumpteam') CSV Data Dump (Team)
        li.divider
        li
          a(href='/admin_add_user') Add a user
        li.divider
        li
          a(href='/admin_remove_user') Remove a user
      ul#Helpbar.dropdown-content
        li
          a(href='/about') About
        li
          a(href='/changepassword') Change password
        li
          a(href='/buggy') Submit a bug
      // Hambug Menu Options
      ul#mobile-demo.side-nav.amber.lighten-5
        li
          font(color='green')
            h5 Athletes
        li.divider
        li
          a.waves-effect.waves-light.btn.green.darken-3(href='/workoutentry') New Workout
        li.divider
        li
          a.waves-effect.waves-light.btn.green.darken-3(href='/myworkouts') Training Log
        li.divider
        li
          font(color='blue')
            h5 Trainers
        li.divider
        li
          a.waves-effect.waves-light.btn-large.blue.darken-3(href='/coaches') View Athletes
        li.divider
        li
          font(color='red')
            h5 Administrators
        li.divider
        li
          a.waves-effect.waves-light.btn.red.darken-3(href='/datadumpindividual') CSV Data Dump (Individual)
        li
          a.waves-effect.waves-light.btn.red.darken-3(href='/datadumpteam') CSV Data Dump (Team)
        li.divider
        li
          a.waves-effect.waves-light.btn.red.darken-3(href='/admin_add_user') Add a User
        li.divider
        li
          a.waves-effect.waves-light.btn.red.darken-3(href='/admin_remove_user') Remove a User
        li.divider
        li
          br
        li.divider
        li
          a.waves-effect.waves-light.btn.blue-grey.darken-3(href='/about') About
        li.divider
        li
          a.waves-effect.waves-light.btn.blue-grey.darken-3(href='/changepassword') Change password
        li.divider
        li
          a.waves-effect.waves-light.btn.blue-grey.darken-3(href='/buggy') Submit a bug
        li.divider
        li
          a.waves-effect.waves-light.btn-large.orange(href='/logout') Log-out
        li.divider
        li
          font(color='grey')
            h6
              center Team on a Cob 2016
    br
    br
    br
    br
    br
    body
      .row
        .col.s12.m5.offset-m3
          .card.indigo.accent-4
            .card-content.cyan-text
              span.card-title
                center
                  p.fonts
                    b My Workout
            form(action='/workoutentry', method='post')
              .row
                .col.s12.m12
                  .card.light-blue.darken-4
                    .card-content.cyan-text
                      span.card-title Date Information:
                      center
                        a.waves-effect.waves-light.btn.light-green(onclick='myFunction()') Autofill - Today
                      br
                      script.
                        function myFunction() {
                        var d = new Date();
                        var n = d.getDate();
                        var m = d.getMonth();
                        document.getElementById("month").selectedIndex = m + 1;
                        document.getElementById("day").selectedIndex = n;
                        }
                      label Month
                      select#month.browser-default(name='month')
                        option(name='month', value='invalidmonth') --
                        option(name='month', value='January') January
                        option(name='month', value='February') February
                        option(name='month', value='March') March
                        option(name='month', value='April') April
                        option(name='month', value='May') May
                        option(name='month', value='June') June
                        option(name='month', value='July') July
                        option(name='month', value='August') August
                        option(name='month', value='September') September
                        option(name='month', value='October') October
                        option(name='month', value='November') November
                        option(name='month', value='December') December
                      br
                      br
                      label Day of month
                      select#day.browser-default(name='day')
                        option(name='day', value='dayinvalid') --
                        option(name='day', value='1') 1
                        option(name='day', value='2') 2
                        option(name='day', value='3') 3
                        option(name='day', value='4') 4
                        option(name='day', value='5') 5
                        option(name='day', value='6') 6
                        option(name='day', value='7') 7
                        option(name='day', value='8') 8
                        option(name='day', value='9') 9
                        option(name='day', value='10') 10
                        option(name='day', value='11') 11
                        option(name='day', value='12') 12
                        option(name='day', value='13') 13
                        option(name='day', value='14') 14
                        option(name='day', value='15') 15
                        option(name='day', value='16') 16
                        option(name='day', value='17') 17
                        option(name='day', value='18') 18
                        option(name='day', value='19') 19
                        option(name='day', value='20') 20
                        option(name='day', value='21') 21
                        option(name='day', value='22') 22
                        option(name='day', value='23') 23
                        option(name='day', value='24') 24
                        option(name='day', value='25') 25
                        option(name='day', value='26') 26
                        option(name='day', value='27') 27
                        option(name='day', value='28') 28
                        option(name='day', value='29') 29
                        option(name='day', value='30') 30
                        option(name='day', value='31') 31
                      br
                      br
                      label Current Year
                      select#currentyear.browser-default(name='currentyear')
                        option(name='currentyear', value='0000') ----
                        option(name='currentyear', value='2017') 2017
                        option(name='currentyear', value='2018') 2018
                        option(name='currentyear', value='2019') 2019
                        option(name='currentyear', value='2020') 2020
                        option(name='currentyear', value='2021') 2021
                        option(name='currentyear', value='2022') 2022
                      br
                      br
                      script.
                        var p = new Date();
                        var y = p.getFullYear();
                        document.getElementById("currentyear").selectedIndex = y-2016;
              .row
                .col.s12.m12
                  .card.light-blue.darken-4
                    .card-content.cyan-text
                      span.card-title Workout Information:
                      br
                      //
                        <label>Hours of sleep</label>
                        <p class="range-field white">
                        <input id="opt0" name="sleephours" type="range" min="0" max="14" value="0" step="0.5">
                        </p><br><br>
                      label Hours of sleep
                      input(type='number', name='sleephours', min='0', max='14')
                      br
                      br
                      label General Health
                      select.browser-default(name='illness')
                        option(name='illness', value='n/a') N/A
                        option(name='illness', value='fever') Fever
                        option(name='illness', value='gi_distress') GI Distress
                        option(name='illness', value='upper respiratory') Upper Respiratory
                        option(name='illness', value='abnormal fatigue') Abnormal Fatigue
                        option(name='illness', value='insomnia') Insomnia
                        option(name='illness', value='irritability') Irritability
                        option(name='illness', value='decreased motivation') Decreased Motivation
                        option(name='illness', value='weight loss') Weight Loss
                        option(name='illness', value='chronic soreness') Chronic Soreness
                      br
                      br
                      label Irritation/Pain
                      select.browser-default(name='injury')
                        option(name='injury', value='n/a') N/A
                        option(name='injury', value='foot arch') Foot Arch
                        option(name='injury', value='Heel') Heel
                        option(name='injury', value='shin') Shin
                        option(name='injury', value='knee') Knee
                        option(name='injury', value='it band') IT Band
                        option(name='injury', value='hip') Hip
                        option(name='injury', value='low back') Low Back
                        option(name='injury', value='pelvis') Pelvis
                        option(name='injury', value='rib') Rib
                      br
                      br
                      //
                        <label>Wellness Score</label><br>
                        <label>(100% = Full Health, 0% = Not able to Workout)</label>
                        <p class="range-field white">
                        <input id="opt0" name="myhealth" type="range" min="0" max="100" value="0" step="10">
                        </p><br><br>
                      label Wellness Score
                      br
                      label (100% = Full Health, 0% = Not able to Workout)
                      input(name='percent_health', type='number', min='0', max='100', step='10')
                      br
                      br
                      label RPE Information
                      select#rpeinfo.browser-default(name='rpeinfo')
                        option(name='rpeinfo', value='unknown') ----
                        option(name='rpeinfo', value='aerobic') Zone 1: Aerobic
                        option(name='rpeinfo', value='threshold') Zone 2: Threshold
                        option(name='rpeinfo', value='interval') Zone 3: Interval
                        option(name='rpeinfo', value='crosstraining') Cross Training
                        option(name='rpeinfo', value='strengthandconditioning') Strength and Conditioning
                      label RPE (6-20)
                      select.browser-default(name='rpeval')
                        option(name='rpeval', value='rpeinvalid') --
                        option(name='rpeval', value='6') 6 - Rest
                        option(name='rpeval', value='7') 7 - Extremely Light
                        option(name='rpeval', value='8') 8 -
                        option(name='rpeval', value='9') 9 - Very Light
                        option(name='rpeval', value='10') 10 -
                        option(name='rpeval', value='11') 11 - Light
                        option(name='rpeval', value='12') 12 -
                        option(name='rpeval', value='13') 13 - Somewhat Hard
                        option(name='rpeval', value='14') 14 -
                        option(name='rpeval', value='15') 15 - Hard
                        option(name='rpeval', value='16') 16 -
                        option(name='rpeval', value='17') 17 - Very Hard
                        option(name='rpeval', value='18') 18 -
                        option(name='rpeval', value='19') 19 - Extremely Hard
                        option(name='rpeval', value='20') 20 - Maximal Exertion
                      br
                      br
                      //
                        <label>Time of workout (minutes)</label>
                        <p class="range-field white">
                        <input name="time" type="range" min="1" max="360" value="0" step="1">
                        </p><br><br>
                      label Time of workout (minutes)
                      input(name='time', type='number', min='0', max='999')
                      br
                      br
                      //
                        <label>Distance (miles)</label>
                        <p class="range-field white">
                        <input name="distance" type="range" min="1" max="25" value="0" step="0.125">
                        </p><br><br>
                      //
                        <label>Distance (miles)</label>
                        <input type="text" name="distance"><br><br>
                      label Distance (miles)
                      input(name='distance', type='number', min='0.0', max='100.0')
                      br
                      br
                      label 24-hour Hunger Score
                      select.browser-default(name='hungry')
                        option(name='hungry', value='unknown') --
                        option(name='hungry', value='0') 0 - Empty
                        option(name='hungry', value='1') 1 - Ravenous
                        option(name='hungry', value='2') 2 - Very Hungry
                        option(name='hungry', value='3') 3 - Lightly Hungry
                        option(name='hungry', value='4') 4 - Lightly Hungry
                        option(name='hungry', value='5') 5 - Neutral
                        option(name='hungry', value='6') 6 - Lightly Full; Satisfied
                        option(name='hungry', value='7') 7 - Lightly Full; Satisfied
                        option(name='hungry', value='8') 8 - Full
                        option(name='hungry', value='9') 9 - Stuffed
                        option(name='hungry', value='10') 10 - Sick
                      br
                      br
                      label Start of cycle
                      br
                      input#opt1.with-gap(name='cycle', type='radio', checked='', value='no')
                      label(name='cycle', for='opt1') No
                      input#opt2.with-gap(name='cycle', type='radio', value='yes')
                      label(name='cycle', for='opt2') Yes
                      br
                      br
                      br
              .row
                .col.s12.m12
                  .card.light-blue.darken-4
                    .card-content.cyan-text
                      span.card-title Extra Information:
                      .row
                        .input-field.col.s12
                          textarea#textarea1.materialize-textarea(length='1024', name='mynotes')
                          label(name='notes', for='textarea1') My Notes
                      br
                      br
              center
                button.btn.waves-effect.waves-light.light-blue.lighten-1(type='submit', name='action')
                  | Submit My Workout
                  i.material-icons.right send
              br
      p
      // Materialize CSS imports [body]
      // put this at the end of the body
      // Import jQuery before materialize.js
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(type='text/javascript', src='js/materialize.min.js')

