doctype html
html
  head
    title OU WxC - Workout Entry
    // Materialize CSS imports [head]
    // Import Google Icon Font
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // Import materialize.css
    link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(style='background:black;')
    header
      font(color='green')
        h1  OU WxC Performance Application 
    // Drop down associations
    ul#Athletes.dropdown-content
      li
        a(href='/workoutentry') Enter a workout
      li.divider
      li
        a(href='/myworkouts') View past workouts
    ul#CoachesTrainers.dropdown-content
      li
        a(href='#!') View Athletes
    ul#Administrators.dropdown-content
      li
        a(href='/admin_athlete_vis') View athletes and workouts
      li.divider
      li
        a(href='/admin_add_user') Add a user
      li.divider
      li
        a(href='/admin_remove_user') Remove a user
    // Navbar up at the top
    nav
      .nav-wrapper.grey.darken-3
        a.brand-logo Enter a Workout
        ul.right.hide-on-med-and-down
          li
            a.waves-effect.waves-light.btn.grey.darken-1(href='/home') Home
          li
            a.waves-effect.waves-light.btn.grey.darken-1 About
          li
            a.dropdown-button.btn.green.lighten-1(href='#', data-activates='Athletes') Athletes
          li
            a.dropdown-button.btn.blue.lighten-1(href='#', data-activates='CoachesTrainers') Coaches/Trainers
          li
            a.dropdown-button.btn.red.lighten-1(href='#', data-activates='Administrators') Administrators
          li
            a.waves-effect.waves-light.btn-large.orange(href='/') Log-out
    br
    br
    br
    br
    br
    body
      .row
        .col.s4.m5.offset-m3
          .card.light-blue.darken-4
            .card-content.cyan-text
              span.card-title
                center
                  h2.truncate My Workout
              form(action='/workoutentry', method='post')
                br
                label Month
                select.browser-default(name='month')
                  option(name='month', value='invalidmonth') --
                  option(name='month', value='January') January
                  option(name='month', value='February') February
                  option(name='month', value='March') March
                  option(name='month', value='April') April
                  option(name='month', value='May') May
                  option(name='month', value='June') June
                  option(name='month', value='July') July
                  option(name='month', value='August') August
                  option(name='month', value='September') September
                  option(name='month', value='October') October
                  option(name='month', value='November') November
                  option(name='month', value='December') December
                br
                br
                label Day of month
                select.browser-default(name='day')
                  option(name='day', value='dayinvalid') --
                  option(name='day', value='day1') 1
                  option(name='day', value='day2') 2
                  option(name='day', value='day3') 3
                  option(name='day', value='day4') 4
                  option(name='day', value='day5') 5
                  option(name='day', value='day6') 6
                  option(name='day', value='day7') 7
                  option(name='day', value='day8') 8
                  option(name='day', value='day9') 9
                  option(name='day', value='day10') 10
                  option(name='day', value='day11') 11
                  option(name='day', value='day12') 12
                  option(name='day', value='day13') 13
                  option(name='day', value='day14') 14
                  option(name='day', value='day15') 15
                  option(name='day', value='day16') 16
                  option(name='day', value='day17') 17
                  option(name='day', value='day18') 18
                  option(name='day', value='day19') 19
                  option(name='day', value='day20') 20
                  option(name='day', value='day21') 21
                  option(name='day', value='day22') 22
                  option(name='day', value='day23') 23
                  option(name='day', value='day24') 24
                  option(name='day', value='day25') 25
                  option(name='day', value='day26') 26
                  option(name='day', value='day27') 27
                  option(name='day', value='day28') 28
                  option(name='day', value='day29') 29
                  option(name='day', value='day30') 30
                  option(name='day', value='day31') 31
                br
                br
                label Hours of sleep
                select.browser-default(name='sleephours')
                  option(name='sleephours', value='sleepinvalid') --
                  option(name='sleephours', value='0') 0
                  option(name='sleephours', value='1') 1
                  option(name='sleephours', value='2') 2
                  option(name='sleephours', value='3') 3
                  option(name='sleephours', value='4') 4
                  option(name='sleephours', value='5') 5
                  option(name='sleephours', value='6') 6
                  option(name='sleephours', value='7') 7
                  option(name='sleephours', value='8') 8
                  option(name='sleephours', value='9') 9
                  option(name='sleephours', value='10') 10
                  option(name='sleephours', value='11') 11
                  option(name='sleephours', value='12') 12
                  option(name='sleephours', value='13') 13
                  option(name='sleephours', value='14') 14
                  option(name='sleephours', value='15') 15
                  option(name='sleephours', value='16') 16
                  option(name='sleephours', value='17') 17
                  option(name='sleephours', value='18') 18
                  option(name='sleephours', value='19') 19
                  option(name='sleephours', value='20') 20
                  option(name='sleephours', value='21') 21
                  option(name='sleephours', value='22') 22
                  option(name='sleephours', value='23') 23
                  option(name='sleephours', value='24') 24
                br
                br
                label Health status
                input(type='text', name='healthstatus')
                br
                br
                label Illness
                input(type='text', name='illness')
                br
                br
                label Injury
                input(type='text', name='injury')
                br
                br
                label % of full health
                p.range-field.white
                  input#opt0(name='myhealth', type='range', min='0', max='100', value='1', step='1')
                br
                br
                label Start of cycle
                br
                input#opt1.with-gap(name='cycle', type='radio', checked='', value='no')
                label(name='cycle', for='opt1') No
                input#opt2.with-gap(name='cycle', type='radio', value='yes')
                label(name='cycle', for='opt2') Yes
                br
                br
                label RPE (6-20)
                select.browser-default(name='rpeval')
                  option(name='rpeval', value='rpeinvalid') --
                  option(name='rpeval', value='rpe6') 6
                  option(name='rpeval', value='rpe7') 7
                  option(name='rpeval', value='rpe8') 8
                  option(name='rpeval', value='rpe9') 9
                  option(name='rpeval', value='rpe10') 10
                  option(name='rpeval', value='rpe11') 11
                  option(name='rpeval', value='rpe12') 12
                  option(name='rpeval', value='rpe13') 13
                  option(name='rpeval', value='rpe14') 14
                  option(name='rpeval', value='rpe15') 15
                  option(name='rpeval', value='rpe16') 16
                  option(name='rpeval', value='rpe17') 17
                  option(name='rpeval', value='rpe18') 18
                  option(name='rpeval', value='rpe19') 19
                  option(name='rpeval', value='rpe20') 20
                br
                br
                label Time:
                input(type='text', placeholder='h:mm:ss', name='time', required='')
                br
                br
                label Distance:
                input(type='text', name='distance')
                br
                br
                br
                .row
                  .input-field.col.s12
                    textarea#textarea1.materialize-textarea(length='256')
                    label(name='notes', for='textarea1') My Notes
                br
                br
                button.btn.waves-effect.waves-light.red(type='submit', name='action')
                  | Submit My Workout
                  i.material-icons.right send
      p
      // Materialize CSS imports [body]
      // put this at the end of the body
      // Import jQuery before materialize.js
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      script(type='text/javascript', src='js/materialize.min.js')
