<!DOCTYPE html>
<html>

<head>
<h1> About This Program: </h1>
</head>

<% include templates/header.ejs %>

<body>
<h2> version 0.1.0 :</h2>
Date of last update: 9/24/2016
</body>

</html>